.dashboard {
	border-left: 1px solid #E0E0E0;
	background-color: #040624;
	color: #BFBFBF;
	padding-right: 50px;
	font-family: 'Roboto', sans-serif;
	font-weight: i;
	font-size: 0.85em;









}

	.line-chooser {
		padding-top: 10px;
	}


.value-chooser {
	border-bottom: 1px solid #E0E0E0;
	padding-bottom: 10px;
}
.datum, .data-type, .line-choice {
	padding-bottom: 10px;
}


	.datum-title, .line-title {
		padding-left: 10px;
	}

.checkbox {
	display: inline-block;
	width: 10px;
	height: 10px;
	background: #ddd;
	border-radius: 100%;
	position: relative;
	-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
	-mox-box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
	box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
	display: inline-block;
}

.datum-list, .line-choice-list {
	padding-left: 15px;
}

.checkbox label{
	display: block;
	width: 9px;
	height: 9px;
	background: #ddd;
	border-radius: 100%;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;
	transition: all .5s ease;
	cursor: pointer;
	position: absolute;
	top: 0.25px;
	left: 0.9px;
	z-index: 1;
	-webkit-box-shadow: inset 0px 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px 1px 3px rgba(0,0,0,0.5);
	box-shadow: inset 0px 1px 3px rgba(0,0,0,0.5);
}

input[type=checkbox] {
	visibility: hidden;
}
/*javascript this*/
.checkbox input[type=checkbox]:checked + label {
	background: #302B54;
}

.checked-checkbox {
	background: #302B54 !important;
}

.arrow {
	margin-right: 5px;
	margin-bottom: 5px;
}

.dropdown-arrow {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #FFFFFF;
	display: inline-block;
}

.dropup-arrow {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #FFFFFF;
	display: inline-block;
}


.line-title-container {
	margin-bottom: 10px;
}



.add-filter {
	display: inline-block;
	cursor: hand;
}

.filters {
	display: inline-block;
	background: #42526C;
}

.line-title {
	padding-bottom: 10px;
}

.filter-input {
	background: none;
	border: none;
	border-bottom: 1px solid #6D9BF1;
	display: inline-block;
}

.remove-filter {
	display: inline-block;
	margin-right: 5px;
}

.filters {
	margin-left: 20px;
	padding: 2px;
	padding-right: 5px;
}


.filter-container{
	display: inline-block;
}

